* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_2 {
  width: 685px;
  height: 479px;
  background: url("../images/v5_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_7 {
  width: 685px;
  height: 479px;
  background: rgba(253,252,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v4_33 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 595px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_30 {
  width: 622px;
  height: 396px;
  background: url("../images/v4_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 48px;
  overflow: hidden;
}
.v4_19 {
  width: 222px;
  height: 225px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 372px;
  overflow: hidden;
}
.v4_6 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_9 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_12 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_22 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_23 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 298px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v4_24 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 220px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_25 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 298px;
  left: 220px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v4_27 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 440px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 298px;
  left: 440px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
